.benefits {
    padding: 120px 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr );
        gap: 20px;

        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr) );
            gap: 60px 30px;
        }
    }

    &__title {
        max-width: 270px;
        font-size: 42px;
        font-weight: 700;
    }
}
