.card {
    font-family: var(--ff-sec);

    width: 268px;

    &__img{
        margin-top: -50px;
    }

    &__photo {
        height: 240px;
        border-radius: 20px 20px 0 0;
        background-color: #fafafa;
        text-align: center;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 6px;


        padding: 14px 22px 28px;

        height: 202px;
        border-radius: 0 0 20px 20px;
        background-color: #fff;
    }

    &__categore {
        color: var(--c-text-muted);
        font-size: 17px;
        margin: 0;

    }

    &__title {
        margin: 0;
        color: var(--c-card-dark);
        font-size: 21px;
        font-weight: 600;
    }

    &__raiting {
        display: flex;
        gap: 3px;
    }

    &__footer {
        margin-top: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        display: flex;
        align-items: flex-start;
        gap: 3px;
        padding-left: 14px;

        color: var(--c-card-dark);
        font-size: 21px;
        font-weight: 600;

        &::before{
            content: attr(data-value);

           

            font-size: 15px;


        }
    }

    &__btn {
    }
}
