.footer {
    padding: 118px 0 56px;
    background-color: var(--c-footer-bg);
    color: rgba(255, 255, 255, 0.8);

    a{
        color: rgba(255, 255, 255, 0.8); 
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-grid {
        margin-bottom: 118px;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr ;
        gap: 20px;
    }

    

	&__desc {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.6;

        p + p {
            margin-top: 1em;
        }

        p {
            margin: 0;
        }
		}

	&__logo {
        margin-bottom: 29px;
		}


    &__container{
        max-width: 1094px;
    }

    &__nav {

        &--services {
            grid-column-start: 3;
        }
    }


    &__links {
        display: flex;
        gap: 40px;
    }


    &__nav-title {
    }

    &__list {
    }

    &__list-item {
    }
}






