.info-hint{
    width: 112px;
    height: 56px;
    background-image: url("./../img/icons/tulltip.svg");

    &__radio {
    }

    &__radio-fake {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        background-color: gray;
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);

        &--orange {
            background-color: var(--c-primary);
        }
        &--light-blue {
            background-color: var( --c-light-blue);
        }
        &--gray {
            background-color: var(--c-gray);
        }
    }
}


