.slider {
    position: relative;

    &__btn {
        position: absolute;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.06);

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    &__btn--prev {
        left: 0;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &__btn--next {
        right:  0;
        top: 50%;
        transform: translate(50%,-50%);
    }
    
}

